body {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;    
  margin: 0;
  padding: 0;
}
main {
  flex: 1;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
}
footer {
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: purple; 
  color: white;
}
form {
  font-size: inherit;
}
input, select, textarea {
  font: inherit; 
  display: block;
  width: 20em;
  height: 2em;
}
input[type="submit"] {
  margin-top: 1em;
}
form button {
  font: inherit; 
  display: block;
  width: 20em;
  height: 2em;
  margin-top: 1em;
}
label {
  margin-top: 1em;
}
label {
  display: block;       
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
  text-align: center;
  border: 1px solid #ddd;
}
a, a:active {
  color: blue;
}
.actionGridSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}
.actionGridButton {
    width: 100%;      
    height: 150px;
    background-color: purple;
    font-size: 1.8em;
    color: white;
    border-radius: 12px;
}
.navigationBar {
  background-color: purple;  
  overflow: hidden;      
}
.navigationBar a {
  float: right;            
  display: block;
  color: white;            
  text-align: center;
  padding: 1em;
  text-decoration: none;  
  font-size: 1.25em;
}
.navigationBar .home {
  margin: 0; 
  float: left;            
  display: block;
  color: white;            
  text-align: center;
  padding: 1em;
  text-decoration: none;  
  font-size: 1.25em;
}